FreeCodeCamp/Landing page/index.html
FreeCodeCamp/Landing page/styles.css
FreeCodeCamp/Magazine/index.html
FreeCodeCamp/Magazine/styles.css
FreeCodeCamp/Mamba tribute/kobe epd.webp
FreeCodeCamp/Mamba tribute/mambaTribute.css
FreeCodeCamp/Mamba tribute/mambaTribute.html
potfolio_hecho_por_stitchAi.

#Dependencias
skinTrade/node_modules
skinTrade/.next
skinTrade/.vscode

.vscode
.history
.1test