*{
    border: px solid
}
html{
  background: radial-gradient(black,#ffbbaa);
}
h1{
  text-align: center;
  font-family: 'Lucida Sans Unicode', sans-serif;
}

.responsive-paint {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}

.paint-img {
  width:  100%;
  min-width: 120px;
  height: auto;
  flex: 2 1 100px; /* La imagen ocupará al menos 300px o más si hay espacio */
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px
}

.paint-description {
  flex: 1 1 100px; /* El texto ocupará al menos 300px o más si hay espacio */
  font-size: 1rem;
  color: #fff;
  background-color: blue;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 8px;
}

.paint-description h2 {
  margin: auto;
}

.paint-description p {
  margin: 20px auto;
}
.paint{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Un media queries para cuando estoy en una pantalla con un minimo de 800px (una laptop) */
@media screen and (min-width: 768px) {
  .responsive-paint{
    max-width: 420px;
  }
}