*{
  box-sizing: border-box;
  padding: 10px;
  border: x solid black;
  }
html{
  background: linear-gradient(#55ffaa, #aaa);
}
h1{
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
}
.container{
  display: grid;
  flex-direction: column;
  margin: auto;
}
img{
  grid-area: img;
  border-radius: 2px;
  max-width: 150px;
  box-shadow: 3px 3px 15px 3px black;
}
.paint{
  display: grid;
  grid-template-areas: 
  "img title";
  flex-direction: row;
}
.title{
  flex-direction: row;
  grid-area: title;
  text-align: center;
  background-color: cadetblue;
  max-width: 150px;
}
.title > span{
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}