body{
    background-color: #ccc;
}
div{
    margin: 6rem;
    text-align: center;
    box-shadow: inset 0 0 7px #555;
    padding: 1rem;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
input{
    background: #aaa;
    border: none;
    padding: 6px;
    box-shadow: inset 0 0 1px;
}
button{
    background: #999;
    border: none;
    padding: 7px 19px;
    font-weight: bolder;
    box-shadow: inset 0 0 2px #fff;
}
input:hover{
    box-shadow: 0 0 2px;
}
button:hover{
    box-shadow: 0 0 4px;
}